//
// audacity.rc
//
// Microsoft Windows only
//
// by Dominic Mazzoni
//
// All images are stored in XPMs now...
//


/////////////////////////////////////////////////////////////////////////////
// File:     wx.rc
// Purpose:  wxWindows resource definitions. ALWAYS include
//           this in your application resource file.
//
//                     wxWindows version 1.50
// Copyright (c) 1993 Artificial Intelligence Applications Institute,
//                   The University of Edinburgh
//
//                     Author: Julian Smart
//                       Date: 9-4-93
//
// Permission to use, copy, modify, and distribute this software and its
// documentation for any purpose is hereby granted without fee, provided
// that the above copyright notice, author statement and this permission
// notice appear in all copies of this software and related documentation.
//
// THE SOFTWARE IS PROVIDED "AS-IS" AND WITHOUT WARRANTY OF ANY KIND, EXPRESS,
// IMPLIED OR OTHERWISE, INCLUDING WITHOUT LIMITATION, ANY WARRANTY OF
// MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
//
// IN NO EVENT SHALL THE ARTIFICIAL INTELLIGENCE APPLICATIONS INSTITUTE OR THE
// UNIVERSITY OF EDINBURGH BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR
// CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER RESULTING FROM
// LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF
// DAMAGE, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH
// THE USE OR PERFORMANCE OF THIS SOFTWARE.
//
// Version: $Id: audacity.rc,v 1.4 2000-11-08 20:26:39 dmazzoni Exp $
/////////////////////////////////////////////////////////////////////////////

#if (defined( __GNUWIN32__ ) && !defined(__TWIN32__)) || defined(__MWERKS__)
	#include <wx/msw/gnuwin32/winresrc.h>
#else
	#include <windows.h>
#endif

//////////////////////////////////////////////////////////////////////////////
//
// Dummy Dialog for all wxCAPTION Dialog boxes
//

wxResizeableDialog DIALOG DISCARDABLE  34, 22, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION ""
BEGIN
#ifdef __WATCOMC__
	LTEXT "", -1,-2,-2,1,1
#endif
END

wxCaptionDialog DIALOG DISCARDABLE  34, 22, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Dummy dialog"
BEGIN
#ifdef __WATCOMC__
	LTEXT "", -1,-2,-2,1,1
#endif
END

//
// Dummy dialog for dialog boxes without caption & with thin frame
//
wxNoCaptionDialog DIALOG 34, 22, 144, 75
STYLE WS_POPUP
BEGIN
#ifdef __WATCOMC__
	LTEXT "", -1,-2,-2,1,1
#endif
END

//////////////////////////////////////////////////////////////////////////////
//
// This is the MDI Window menu
//

wxWindowMenu MENU DISCARDABLE
BEGIN
    POPUP "&Window"
    BEGIN
        MENUITEM "&Cascade",                    4002
        MENUITEM "Tile &Horizontally",          4001
        MENUITEM "Tile &Vertically",            4005
	MENUITEM "", -1
        MENUITEM "&Arrange Icons",              4003
        MENUITEM "&Next",                       4004
    END
END

//////////////////////////////////////////////////////////////////////////////
//
// Standard wxWindows Cursors
//

WXCURSOR_HAND           CURSOR  DISCARDABLE     "hand.cur"
WXCURSOR_BULLSEYE       CURSOR  DISCARDABLE     "bullseye.cur"
WXCURSOR_PENCIL         CURSOR  DISCARDABLE     "pencil.cur"
//WXCURSOR_MAGNIFIER      CURSOR  DISCARDABLE     "magnif1.cur"
WXCURSOR_NO_ENTRY       CURSOR  DISCARDABLE     "noentry.cur"
WXCURSOR_SIZING         CURSOR  DISCARDABLE     "size.cur"
WXCURSOR_ROLLER         CURSOR  DISCARDABLE     "roller.cur"
WXCURSOR_WATCH          CURSOR  DISCARDABLE     "watch1.cur"
WXCURSOR_PBRUSH         CURSOR  DISCARDABLE     "pbrush.cur"
WXCURSOR_PLEFT          CURSOR  DISCARDABLE     "pntleft.cur"
WXCURSOR_PRIGHT         CURSOR  DISCARDABLE     "pntright.cur"
WXCURSOR_QARROW         CURSOR  DISCARDABLE     "query.cur"
WXCURSOR_BLANK          CURSOR  DISCARDABLE     "blank.cur"

//////////////////////////////////////////////////////////////////////////////
//
// Default Icons
//

//wxDEFAULT_FRAME               ICON "std.ico"
//wxDEFAULT_MDIPARENTFRAME      ICON "mdi.ico"
//wxDEFAULT_MDICHILDFRAME       ICON "child.ico"

// Standard icons
wxICON_QUESTION		ICON "question.ico"
wxICON_WARNING		ICON "warning.ico"
wxICON_ERROR		ICON "error.ico"
wxICON_INFO		ICON "info.ico"
wxICON_TIP		ICON "tip.ico"

//////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

#ifdef __SALFORDC__
wxDISABLE_BUTTON_BITMAP         BITMAP  WXINCDIR"wx/msw/disable.bmp"
#else
wxDISABLE_BUTTON_BITMAP         BITMAP  "disable.bmp"
#endif

// For src/generic/proplist.cpp
tick_bmp                BITMAP  "tick.bmp"
cross_bmp               BITMAP  "cross.bmp"

// For src/generic/plot.cpp
plot_up_bmp             BITMAP  "plot_up.bmp"
plot_dwn_bmp            BITMAP  "plot_dwn.bmp"
plot_enl_bmp            BITMAP  "plot_enl.bmp"
plot_shr_bmp            BITMAP  "plot_shr.bmp"
plot_zin_bmp            BITMAP  "plot_zin.bmp"
plot_zot_bmp            BITMAP  "plot_zot.bmp"
