Options +MultiViews

ErrorDocument 404 /404.php

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ $1 [R=301,L]
RewriteRule ^/blog - [L]

# Redirect URLs for LAME 
RewriteRule ^lame.html help/faq?s=install&i=lame-mp3 [R=permanent]
RewriteRule ^lame help/faq?s=install&i=lame-mp3 [R=permanent]
RewriteRule ^download/lame help/faq?s=install&i=lame-mp3 [R=permanent]

# Redirect URLs from previous version of site
#RewriteRule ^index.php(.*) ./$1 [R=permanent]
RewriteRule ^about.html about/$1 [R=permanent]
RewriteRule ^about.php about/$1 [R=permanent]
RewriteRule ^community/donate.* donate/$1 [R=permanent]
RewriteRule ^contact.html contact/$1 [R=permanent]
RewriteRule ^contact.php contact/$1 [R=permanent]
RewriteRule ^credits.* about/credits$1 [R=permanent]
RewriteRule ^cvs.* community/developers$1 [R=permanent]
RewriteRule ^devel.* community/developers$1 [R=permanent]
RewriteRule ^donate.html donate/$1 [R=permanent]
RewriteRule ^donate.php donate/$1 [R=permanent]
RewriteRule ^donatemoney.* donate/$1 [R=permanent]
RewriteRule ^donatetime.* community/$1 [R=permanent]
RewriteRule ^download.html download/$1 [R=permanent]
RewriteRule ^download.php download/$1 [R=permanent]
RewriteRule ^faq.* help/faq$1 [R=permanent]
RewriteRule ^help.html help/$1 [R=permanent]
RewriteRule ^help.php help/$1 [R=permanent]
RewriteRule ^links.* about/links$1 [R=permanent]
RewriteRule ^linux.* download/linux [R=permanent]
RewriteRule ^mac.php download/mac$1 [R=permanent]
RewriteRule ^nyquist.php(.*) help/nyquist$1 [R=permanent]
RewriteRule ^nyquist2.php(.*) help/nyquist2$1 [R=permanent]
RewriteRule ^nyquist3.php(.*) help/nyquist3$1 [R=permanent]
RewriteRule ^nyquistplugins.* download/nyquistplugins$1 [R=permanent]
RewriteRule ^plugins.* download/plugins$1 [R=permanent]
RewriteRule ^privacy.* contact/privacy$1 [R=permanent]
RewriteRule ^screenshots.* about/screenshots$1 [R=permanent]
RewriteRule ^stablenotes.* download/release-notes$1 [R=permanent]
RewriteRule ^translation.* community/translation [R=permanent]
RewriteRule ^tutorials.* help/$1 [R=permanent]
RewriteRule ^unix.* download/linux$1 [R=permanent]
RewriteRule ^windows.* download/windows$1 [R=permanent]

# Redirect really old URLs.
RewriteRule ^index.html . [R=permanent]
RewriteRule ^macos9.html download/mac [R=permanent]
RewriteRule ^macosx.html download/mac [R=permanent]


# Redirect URLs pointing to temporary staging area.
RewriteRule ^new/(.*) $1 [R=permanent]

# 0 seconds	 
Header set Cache-Control "max-age=0, must-revalidate, public"
